{% extends 'base.html' %}
<!-- Title Block -->
{% block title %} Login {% endblock %}
<!-- Head -->
{% block head %} {{ super() }} {% endblock %}

<!-- ------------------------- Nav ------------------------------->
{% block navbar %}
<ul class="navbar-nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="#">Login</a>
  </li>
</ul>
{% endblock %}
<!-- ------------------------- Body ----------------------------->
{% block body %}
<h4>Login into your account</h4>

<!-- Login Form -->
<form>
  <div>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Username"
      required
    />
  </div>
  <div>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      required
    />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<!-- End Login Form-->

{% endblock %}
